*{
    margin:0px;
    padding: 0px;
}
/* Clases formulario 2_Pintar */
.tamannio-fuente{
    font-size: 30px;
}
/* Clases formulario 4_Colores */
.alinear-recuadros-dinamicos{
    display:flex;
    justify-content:space-around;
    padding:15px;
}